
header {
  background-color: #fff;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
  position: relative;
  z-index: 9999;
}

.box {
	width: 80%;
	max-width: 400px;
	margin: auto;
	padding-bottom: 5vh;
}

.box img {
	display:block;
	width:100%;
}

.box a {
  display:block;
  width:100%;
}

/*new*/
.nav-link.js-scroll:hover {
	border-bottom: 2px solid white;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}

.scroll::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
}

@keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}






